/* ====== THEME VARIABLES ====== */
:root {
  --bg-color: #F7F6F3;
  --text-color: #1F2933;

--nav-bg:#FFFFFF;

  --button-bg: #7A9E8C;
  --button-text: #FFFFFF;

  --link-color: #1F2933;
  --link-hover: #7A9E8C;

  --h2-color: #1F2933;

  --social-icon-color: #1F2933;
  --social-icon-hover: #7A9E8C;

  --btn-secondary2-bg: #E6EFEA;
  --btn-secondary2-text: #1F2933;
  --btn-secondary2-hover-bg: #7A9E8C;
  --btn-secondary2-hover-text: #FFFFFF;

  --cta-bg: #1F2933;
  --cta-text: #FFFFFF;

  --footer-divider-color: #1F2933; /* dark mode */


  --about-bg: #F7F6F3;
  --about-text: #1F2933;
  --about-heading: #1F2933;
  --about-link: #1F2933;
  --about-link-hover: #7A9E8C;

  --expertise-bg: #1F2933;
  --expertise-text: #F7F6F3;

  --filter-item: #1F2933;
  --filter-item-hover: #7A9E8C;

  --contact-bg: #F7F6F3;
  --contact-text: #1F2933;

  
  --contact-box-bg: #b1cabe;
  --contact-box-border: rgba(31, 41, 51, 0.12);

  --contact-input-bg: #F1F3F5;
  --contact-input-text: #1F2933;
  --contact-input-focus-bg: #FFFFFF;

    --service-btn-bg: #E6EFEA;
  --service-btn-text: #1F2933;

  --service-btn-span-bg: #FFFFFF;
  --service-btn-span-text: #1F2933;

  --service-btn-active-bg: #7A9E8C;
  --service-btn-active-text: #FFFFFF;

  --service-btn-active-span-bg: #FFFFFF;
  --service-btn-active-span-text: #1F2933;


}





/* 🌙 Dark mode variables */
body.dark-mode {
  --bg-color: #061417;
  --text-color: #F7F6F3;

  --nav-bg:#061417;


  --button-bg: #849E8A;
  --button-text: #F7F6F3;
  --link-color: #F7F6F3;       /* lighter link color for dark mode */
  --link-hover: #a0bda7;       /* optional hover color in dark mode */
  --h2-color: #F7F6F3;  /* dark mode H2 color */
  --social-icon-color: #F7F6F3;       /* dark mode color */
  --social-icon-hover: #a0bda7;       /* dark mode hover */
  --brand-logo-filter: grayscale(100%) brightness(100%) ;
  --footer-divider-color: #F7F6F3; /* dark mode */
  --btn-secondary2-bg: #F7F6F3;       /* dark mode background */
  --btn-secondary2-text: #061417;     /* dark mode text */
  --btn-secondary2-hover-bg: #849E8A; /* dark mode hover background */
  --btn-secondary2-hover-text: #F7F6F3; /* dark mode hover text */

  --cta-bg: #2e3430;
  --cta-text: #F7F6F3;

  --about-bg: #061417;
  --about-text: #F7F6F3;
  --about-heading: #F7F6F3;
  --about-link: #F7F6F3;
  --about-link-hover: #a0bda7;

--service-btn-bg: #849E8A;
  --service-btn-text: #061417;
  --service-btn-span-text: #061417;
  --service-btn-span-bg: #F7F6F3; 
  
  --service-btn-active-bg: #2e3430;
  --service-btn-active-text: #F7F6F3;
  --service-btn-active-span-bg: #F7F6F3;
  --service-btn-active-span-text: #061417;

  --expertise-bg: #2e3430;
  --expertise-text: #F7F6F3;

  --filter-item:#F7F6F3;
  --filter-item-hover:#849E8A;

  --contact-bg: #061417;
  --contact-text: #F7F6F3;
  --label-text: #F7F6F3;
  --contact-box-bg: rgba(255, 255, 255, 0.05); /* can tweak if needed */
  --contact-box-border: rgba(255, 255, 255, 0.1);
  --contact-input-bg: rgba(255, 255, 255, 0.1);
  --contact-input-text: #F7F6F3;
  --contact-input-focus-bg: rgba(255, 255, 255, 0.15);


}



/* ====== GLOBAL STYLES ====== */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s, color 0.4s;
  line-height: 1.6;
  
}




/* Apply theme vars everywhere */
header, footer, section, .cta, .hero, .storytelling,  .spacer, .tagline-scroll,  .custom-footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s, color 0.4s;
}

 .btn.primary, button, .btn, .cta-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}




button:hover, .btn:hover, .cta-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(31, 41, 51, 0.15);
}


/* OLD TOGGLE */

/* 
.mode-toggle {
  background-color: #a0bda7;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--button-icon, #2A260A);
   box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 1px 6px rgba(0, 0, 0, 0.10);
}

.mode-toggle:hover {
  background-color: var(--button-hover, #c1c7be);
  transform: scale(1.05);
  
}

body.dark-mode .mode-toggle {
  background-color: var(--button-bg-dark, #a0bda7);
  color: var(--button-icon-dark, #2A260A);
}

.dark-mode .mode-toggle:hover {
  background-color: var(--button-hover, whitesmoke);
}


.mode-toggle svg {
  transition: opacity 0.3s ease;

  width: 22px;            
  height: 22px;
   transform: translateY(1.1px);  
}

 */


.mode-toggle {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(160, 189, 167, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);

  color: #2A260A;

  transition: 
    background 0.3s ease,
    transform 0.25s ease,
    box-shadow 0.3s ease;
}

/* Hover */
.mode-toggle:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* Active click */
.mode-toggle:active {
  transform: scale(0.95);
}

/* Icon styling */
.mode-toggle svg {
  position: absolute;
  width: 20px;
  height: 20px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  
}

/* Default state (Light mode) */
#sun-icon {
  opacity: 1;
  transform: rotate(0deg);
}

#moon-icon {
  opacity: 0;
  transform: rotate(90deg);
  color: #FFFFFF;
}

/* Dark Mode */
body.dark-mode #sun-icon {
  opacity: 0;
  transform: rotate(-90deg);
}

body.dark-mode #moon-icon {
  opacity: 1;
  transform: rotate(0deg);
}






/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/* Smooth transitions across all elements */
    transition: background-color 0.3s, color 0.3s;

}
html {
  scroll-behavior: smooth; /* ✨ Smooth scrolling for anchors */
}


p {
  padding-bottom: 0.5em; /* adds space after each paragraph */
}





.hero-text {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem; /* 18px */
  font-weight: 400;
  line-height: 1.65;
  max-width: 42rem;
  margin: 0 auto 1.5rem auto;
        padding: 0.5rem 0;

}

.hero-text2{

  font-family: "DTNightingale", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;

   color: var(--h2-color);
  transition: color 0.4s ease;

}

h2 {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;

   color: var(--h2-color);
  transition: color 0.4s ease;
}


h3{

    padding-bottom: 1em; /* adds space after each paragraph */

}


::selection {
  background: #175079; /* your soft purple theme color */
  color: whitesmoke;      /* your normal text color */
}

::-moz-selection {
  background: #175079; /* your soft purple theme color */
  color: whitesmoke;      /* your normal text color */
}


/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}


.container-image{
  max-width: 100%;
  margin: 0;
  padding: 0;

}

/* Fonts */
@font-face {
  font-family: 'Aesthetic';
  src: url('../fonts/AestheticRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
   font-display: swap;
}


@font-face {
  font-family: 'Equilla';
  src: url('../fonts/Equilla.otf') format('truetype');
  font-weight: 700;
}


@font-face {
  font-family: 'DTNightingale';
  src: url('../fonts/DTNightingale-Light.otf') format('truetype');
  font-weight: 700;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
}


/*  cursor hover-over animation*/



a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover);
    animation-delay: 1s;

}

.navUl a {
  position: relative;
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s ease;
}

.navUl a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 1px;
  background-color: var(--link-hover);
  transition: width 0.35s ease;
}

.navUl a:hover {
   color: var(--link-hover);
}

.navUl a:hover::after {
  width: 100%;
}


/* Hide default cursor & default pointer
* {
  cursor: none !important;
}*/

 
/* Custom cursor dot
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #965936; 
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, background-color 0.3s ease;

  box-shadow: 0 0 8px rgba(177, 172, 151, 0.7);
  z-index: 99998;
  opacity: 0.8;
} */

/* Custom cursor  
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;

  width: 15px;
  height: 15px;
  border-radius: 50%;

  background: rgba(120, 140, 130, 0.8); 
  filter: blur(0px);

  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition:
    transform 0.25s ease,
    width 0.25s ease,
    height 0.25s ease,
    filter 0.25s ease,
    background 0.25s ease;

  z-index: 99999;
}


.custom-cursor.is-hovering {
  width: 28px;
  height: 28px;
  background: rgba(140, 165, 145, 0.8);
  filter: blur(4px);
}*/





/* Navbar */



.navbar {
  position: fixed;              /* ✅ stays at top while scrolling */
  top: 0;                       /* ✅ anchor to top edge */
  left: 0;
  width: 100%;                  /* ✅ span full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 9rem;
  backdrop-filter: blur(6px);      /* ✅ optional glassy feel */
  z-index: 1000;                 /* ✅ ensure it's above all sections */
  transition: background 0.3s ease;

    background-color: var(--nav-bg);
  box-shadow: 0 1px 1px 0 rgba(31, 41, 51, 0.06);
  

}



header {
  margin-bottom: 2.5rem;
}

.logo {
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  font-weight: 700;
  color: #2A260A;
}
.navbar ul {
  display: flex;
  align-items: center;   /* ✅ keeps text links aligned to middle */
  list-style: none;
  gap: 2rem;
}
.navbar a {
  /*color: #2A260A;*/
  transition: 0.3s;
  font-weight: 400;
  text-decoration: none;
}
/*.navbar a:hover {
  color: #be9d5e;
}*/


/* Hero */
.hero {
  position: relative;
  overflow: hidden;

  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* --- HERO Animation --- */
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.2s ease, transform 1.2s ease;
  will-change: opacity, transform;
}


.hero-glow {
  position: absolute;
  top: 40%;
  left: 70%;
  width: 700px;
  height: 700px;
  border-radius: 100%;
  pointer-events: none;

  background: radial-gradient(
    circle,
    /*  rgba(163, 51, 152, 0.35) 0%,
    rgba(188, 206, 153, 0.2) 30%,
    rgba(122, 181, 176, 0.1) 50%,
    transparent 75%*/



     rgba(235, 176, 227, 0.35) 0%,
    rgba(230, 192, 159, 0.2) 20%,
    rgba(220, 222, 156, 0.1) 30%,
    transparent 75%
  );

  filter: blur(40px);

  animation: glowPulse 6s ease-in-out infinite;
  transform: translate(-50%, -50%);
  z-index: 0;
}

@keyframes glowPulse {
  0% {
    opacity: 0.7;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
  }
  100% {
    opacity: 0.7;
    transform: translate(-50%, -50%) scale(1);
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 0 auto;
}

h1,
.hero-content h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  font-size: 100px;
  line-height: 1.15;
    letter-spacing: -0.02em;

  margin-bottom: 2rem;
}

.hero p {
  font-size: 1.25rem;
  max-width: 700px;
  margin: 0 auto 2rem auto;
  /*color: #2A260A;
  position: relative;*/
  z-index: 1;
  line-height: auto;
}
.hero.hero-visible {
  opacity: 1;
  transform: translateY(0);
}
.animate {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 1s ease, transform 0.5s ease;
}
.animate.show {
  opacity: 1;
  transform: translateY(0);
}
.delay-1 {
  transition-delay: 0.2s;
}
.delay-2 {
  transition-delay: 0.4s;
}
/* HERO H1 text Animation */
h1.fade-up {
  transition-duration: 1s;
  letter-spacing: 2px;
  font-size: 48px;
  line-height: 1.3;
}

/* 🌲 Hero Parallax 
.hero.parallax {
  position: relative;
  background-color: #DED7DF;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2A260A;
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}*/



/* --- Button --- */

.btn {
    display: inline-block;
  padding: 0.9rem 1.8rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;

    box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.08);
}

 /*.btn.primary {
 background: #be9d5e;
  color: #e0e5df;
}*/

.btn:hover {
  background-color: #c1c7be; /* slightly darker */
   transform: translateY(-0.5px);
  box-shadow:
    0 6px 8px rgba(0, 0, 0, 0.16),
    0 2px 4px rgba(0, 0, 0, 0.10);
  color: #2A260A; 
}


/* ✅ Secondary (Hollow) Button */
.btn.secondary {
  background-color: transparent;
  color: #2A260A;
  border: 1.5px solid #2A260A; /* yellow border */
  font-weight: 600;
  padding: 0.9rem 1.8rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover Effect */
.btn.secondary:hover {
  background-color: #2A260A;
  color: #F5F5F5;
}

/* ✅ Secondary Button */
.btn.secondary2 {
  background: var(--btn-secondary2-bg);
  color: var(--btn-secondary2-text);

}

/* Hover Effect */
.btn.secondary2:hover {
  background-color: var(--btn-secondary2-hover-bg);
  color: var(--btn-secondary2-hover-text);
  transform: translateY(-0.5px);  
}




/* ✅ Third (Visit Website) Button */
.btn.third {
  background-color: transparent;
  color: #be9d5e;
  border: 1.5px solid #be9d5e; /* yellow border */
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.5rem 1.3rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover Effect */
.btn.third:hover {
  background-color: #be9d5e;
  color: #e0e5df;
   transform: translateY(-0.5px);
}







.tagline-scroll {
  position: relative;
  width: 100%;
  overflow: hidden;
  /*background: #DED7DF;   */
}

.scroll-content {
  display: inline-flex;
  white-space: nowrap;
  animation: scrollText 30s linear infinite;
}

.scroll-content span {
  font-family: "Inter", sans-serif; /* or your site’s font */
  font-weight: 400;
  color: #b3b3b3;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 1rem;
  opacity: 0.9;
}

.scroll-content span::after {
  content: "|";
  margin-left: 2rem;
  color: #b3b3b3;
}

/* infinite horizontal scroll animation */
@keyframes scrollText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


/* --- Space --- */
.spacer {
  height: 2rem;         /* adjust space size */
 /*  background: #DED7DF;     */
}



/* --- Storytelling & Horizontal Scroll--- */
.storytelling {
  position: relative;
  width: 100%;
  overflow: visible; /* IMPORTANT */
  /* background: #DED7DF;*/
 height: auto;   /* FIXED — remove the forced full-height */
  padding: 40px 0; /* Optional: add small breathing room */
}

/* Sticky viewport container that pins while horizontal moves */
.scroll-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;    /* viewport height */
  overflow: hidden;
}

/* Horizontal track of project cards */
.project-track {
  display: flex;
  height: 100%;
  will-change: transform;
  gap: 1rem; /* ✅ reduced gap between project images */
  padding-left: 0; /* ✅ first project flush left */
}

.project {
  flex: 0 0 auto;                /* ✅ keeps horizontal scroll layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;   /* ✅ aligns image to left */
  padding: 1rem;                 /* ✅ keeps spacing between images */
  box-sizing: border-box;

  /* ✨ Animation states */
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}
.project.show {
  opacity: 1;
  transform: scale(1);
}

/* project images */
.project img {
  width: 100%;
  max-width: 800px;             /* ✅ cap image width */

  object-fit: cover;
  border-radius: 8px;
  /* ✨ subtle hover zoom */
  transition: transform 0.4s ease;
}
.project img:hover {
  transform: scale(1.03);
    filter: brightness(0.9);
}


/* video project inside horizontal scroll */
.video-project {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.loop-video {
  width: 100%;
  max-width: 800px; /* match your image sizes or make it wider */
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.loop-video:hover {
  transform: scale(1.03);
  filter: brightness(0.9);
}


.project-card img{

  transition: transform 0.4s ease, filter 0.4s ease;

}

.project-card img:hover {
  transform: scale(1.03);
    filter: brightness(0.9);
}


.video-overlay-text {
  position: absolute;
  color: #2A260A; 
  text-align: left;
  z-index: 2;
    padding-top: 1rem;
}







/* My Story */
 .my-story { 
  background-color: #DED7DF;
  text-align: center;
  padding: 8rem 4rem;
  position: relative; /* ✅ needed for overlay */
  color: #2A260A; /* ✅ ensures text is readable */
}

/*.my-story::before { 
  content: "";
  position: absolute;
  inset: 0;
  background: #DED7DF; 
  z-index: 0;
}

.my-story h2,
.my-story p {
  position: relative;
  z-index: 1; 
}*/

.my-story h2 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.my-story p {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 2rem;
  color: #2A260A;
}



/* Brand Logo Auto Scroll */

.brand-scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: transparent;
  padding: 6rem 0;
}

.brand-track {
  display: flex;
  width: max-content;
  animation: scrollBrands 30s linear infinite;
}

.brand-track img {
  height: 70px;
  width: 70px;
  margin: 0 3rem;
  opacity: 0.2; /* faded tone */
 /*  filter: grayscale(100%) brightness(100%) ;*/
    filter: var(--brand-logo-filter);
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.brand-track img:hover {
  opacity: 0.9;
  filter: grayscale(0%) brightness(100%);
}

@keyframes scrollBrands {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {

}




/* Company Logos */
.logos {
  background: #DED7DF; 
  text-align: center;
  padding: 6rem 0;
}
/* .logos h3 {
  font-family: "Sora", serif;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}*/
.logo-grid {
  display: flex;
  justify-content: center;
  gap: 8rem;
  flex-wrap: wrap;
}
.logo-grid img {
  height: 80px;
  width: 80px;
  opacity: 0.5;
  filter: grayscale(100%) brightness(85%);
}

/* CTA */



.cta {
  text-align: center;
  /* background: #2A260A; 
  color: whitesmoke;*/
   background-color: var(--cta-bg);
  color: var(--cta-text);
    transition: background-color 0.3s ease, color 0.3s ease;
  padding: 4rem ;
}
.cta h2 {
  font-family: "DM Serif Display", sans-serif;
    color: var(--cta-text);
  font-size: 2.5rem;
  margin-bottom: 1rem;
   font-weight: 400;
  letter-spacing: 0.5px;

}
.cta p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}




/* Footer */
footer {
 /*  background: #DED7DF; 
    color: #2A260A;*/

  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
}
.footer-nav {
  margin-bottom: 1rem;
}
.footer-nav a {
  margin: 0 1rem;
 /* color: #2A260A;*/
  font-size: 0.9rem;

}

footer a:hover {
  text-decoration: none;
  opacity: 0.8;
   /* color: #be9d5e; */

}

.footer-divider {
  border: none;
  border-top: 1px solid var(--footer-divider-color);
  margin: 2rem auto 2rem;
  max-width: 80%;
}



.social-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
    margin: 2rem 0;
}


.social-icons {
  display: flex;
justify-content: center;
  gap: 40px;
  padding-bottom: 10px;
}

.social-icons a {
  font-size: 1.5rem; /* size of the social icons */
  /*color: #2e220d;   */
  transition: transform 0.2s ease;
    color: var(--social-icon-color);
  transition: color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2); /* optional hover effect */
  color: var(--social-icon-hover);

}

.socials a {
  font-size: 2rem;
  margin: 0 10px;
}

/* NEW Footer 

.custom-footer {
  position: relative;
  background-color: #002d1d;
  color: whitesmoke;
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 0 6rem 2rem 6rem;
}




.footer-divider {
  max-width: 100%;
  margin-top: 6rem;
}


.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: start;
  justify-items: center;
  position: relative;
  z-index: 2;
}

.footer-logo {
  font-family: 'Equilla', sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: whitesmoke;
  font-weight: 700;
  text-align: left;
}

.footer-email {
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 6px;
  transition: color 0.3s;
}

.footer-email:hover {
  color: #ed884e;
}

.copy-btn {
  border: 1px solid whitesmoke;
  background: transparent;
  color: whitesmoke;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.copy-btn:hover {
  background: whitesmoke;
  color: #002d1d;
}

.footer-col a {
  display: block;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1rem;
  margin: 6px 0;
  transition: color 0.3s;

}

.footer-col a:hover {
  color: #ed884e;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: whitesmoke;
  font-size: 1.3rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  transform: translateY(-4px);
}

.footer-copy {
  color: whitesmoke;
  font-size: 0.85rem;
  opacity: 0.8;
  margin-top: 10px;
  text-align: right;
}*/




/* ✨ Section fade + slide-up animation */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ✨ Stagger effect for inner elements */
.reveal > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* ✨ Prevent hero from moving on page load 
.hero.reveal {
  transform: none;
}*/

.reveal.visible > * {
  opacity: 1;
  transform: translateY(0);
}

.reveal.visible > *:nth-child(1) { transition-delay: 0.1s; }
.reveal.visible > *:nth-child(2) { transition-delay: 0.25s; }
.reveal.visible > *:nth-child(3) { transition-delay: 0.4s; }
.reveal.visible > *:nth-child(4) { transition-delay: 0.55s; }



/* ================================
   WORK PAGE STYLES
================================ */
.work{

  margin-bottom: 5rem;
}

.filter-menu {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;  
  justify-content: center;
  font-family: 'inter', sans-serif;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.filter-item {
  cursor: pointer;
  font-size: 1rem;
    color: var(--filter-item);
  opacity:0.8;
  /*transition: 0.3s;*/

}



.filter-item:hover {
  opacity: 1;
    color: var(--filter-item-hover);
  
   
}

.filter-item.active {
    color: var(--filter-item-hover);
  opacity: 1;
   font-weight: bolder;
  /*font-style: italic;*/
  font-family: 'Aesthetic',  sans-serif;
  font-style: normal;
  opacity: 1;
}



/* Project Grid */
.project-grid-filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* ✅ 2 projects per row */
  gap: 0.5rem; /* adjust space between cards */
}

.project-card {
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.project-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.project-card-title{
  margin-top: 1rem;
}

.project-card-subtitle{
opacity: 80%;
color: #8a8a76;
}

/* ================================
   ABOUT PAGE STYLES
================================ */


/* Fade-up reveal animation (REVEAL in Homepage doesn't work here??) */
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}



/* Intro Section (Updated) */
.about-intro {
  padding: 8rem 4rem;
  background-color: var(--about-bg);
  color: var(--about-text);
}




.about-intro .container {
  display: flex;
  align-items: top;
  justify-content: space-between;
  gap: 5rem;
  max-width: 1200px;
  margin: 1.2rem auto;
}

.intro-text {
  flex: 1.2;
  text-align: left;
}

.about-intro h1 {
  font-size:3rem;
  line-height: 1.2;
  color: var(--about-text);
  margin-bottom: 1.2rem;
}

.about-intro p {
  max-width: 600px;
  color: var(--about-text);
  font-size: 1.1rem;
  line-height: 1.7;
}

.about-intro .portrait {
  flex: 0.8;
  display: flex;
align-items: flex-start;

}

.about-intro .portrait:hover{

    transform: translateY(-10px) rotate(5deg); 
  transition: transform 0.1s ease-in-out;

}



/* About Video Section */
.about-video {
  margin: 5rem auto 10rem auto;
}

.video-wrapper {
  position: relative;
  padding-top: 0;
  padding-bottom: 56.25%; /* 16:9 ratio */
  overflow: hidden;
  border-radius: 8px;
 /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
}

.about-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Story Sections */
.about-story {
  padding: 5rem 2rem 10rem 2rem;
  background-color: var(--about-bg);
  border-top: 1px;
}

.about-story .container {
  display: flex;
align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}

.about-story.alt .container {
  flex-direction: row-reverse; /* reverses image/text order */
}

.about-story .story-text {
  flex: 1;
}

.about-story .story-text h2 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--about-text);
}

.story-text{
  color: var(--about-text);
  font-size: 1.5rem;
  line-height: 1.7;
   margin-bottom: 1rem;

  font-family: 'Habibi', serif;
 

}

.about-story .story-image {
  flex: 1;
}

.about-story .story-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  /*box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);*/
  margin-bottom: 2rem;
  
}



/* Services Section

.about-details {
  padding: 0 2rem 4rem 2rem;
  margin-bottom: 10rem;
  background: #DED7DF;
}

.about-details h2 {
  font-family: 'Sora', sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #2A260A;
}

.detail-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}

.detail-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.detail-title {
  width: 100%;
  text-align: left;
  padding: 1.5rem;
  background: #e5e0e6;
  font-family: 'Inter', sans-serif;
  font-size: 1.75rem;
  color: #2A260A;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.detail-title .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background-color: #2A260A;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;
}

.detail-content {
  max-height: 0;
  transition: max-height 0.4s ease;
  padding: 0 1.5rem;
  background: #fff;
}

.detail-content p {
  padding: 1.5rem 0;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #4a4329;
}

.detail-item.open .detail-content {
  max-height: 500px; 
}
.detail-item.open .detail-title {
  background: #ddd;
} */


/* Process/Services Section*/

.services-section {
  background-color: var(--about-bg);
  padding: 2rem;
  margin-bottom: 10rem;
  color: var(--about-text);
}

.services-section h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.services-container {
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}

.service-description {
  flex: 2;
  min-width: 300px;
  padding-right: 10rem;
}

.service-text {
    font-size: 16px;

  display: none;
  line-height: 1.7;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.service-text.active {
  display: block;
  opacity: 1;
}

.service-titles {
  flex: 1;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}




.service-titles button {
    background: var(--service-btn-bg);
  color: var(--service-btn-text);
  transition: all 0.3s ease;

  border: none;
  border-radius: 100px;
  padding: 1.5rem 2rem;
  text-align: left;
  cursor: pointer;
  font-family: 'DM Serif Display', sans-serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
}

.service-titles button span {
  display: inline-block;
    background: var(--service-btn-span-bg);
  color: var(--service-btn-span-text);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
}

.service-titles button.active {
  background: var(--service-btn-active-bg);
  color: var(--service-btn-active-text);
}

.service-titles button.active span {
  background: var(--service-btn-active-span-bg);
  color: var(--service-btn-active-span-text);
}



.double-diamond{
  width: 60%;
  height: auto;
  padding-top: 50px;
}


/* Expertise Section */

.expertise-section {
   background-color: var(--expertise-bg);
  color: var(--expertise-text);
  padding: 6rem 2rem;
  text-align: left;
  margin-bottom: 8rem;
}


.expertise-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
    padding: 0 2rem;
    align-items: self-start;

}

.expertise-column h3{

align-items: self-start;
}


.expertise-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*min-height: 500px; */
}

.expertise-number {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05em;
  opacity: 0.6;
  margin-bottom: 1.5rem;
}

.expertise-column h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--expertise-text);
}

.expertise-column ul {
  list-style: none;
  padding: 0;
  margin: 0 0 3rem 0;
}

.expertise-column li {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--expertise-text);
  opacity: 0.9;
}

.expertise-icon {
  width: 40px;
  height: auto;
  align-self: center;
  opacity: 0.9;
}


.client-feedback{

margin-bottom: 10rem;
  
}






/* Quote Section */
.about-quote {
  text-align: center;
  padding: 0 4rem 8rem 4rem;
  background-color: var(--about-bg);
    transition: background-color 0.4s, color 0.4s;
      color: var(--about-text);


}

.about-quote blockquote {
  font-family: 'Inter', serif;
  font-size: 1.5rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}



.about-quote blockquote::before,
.about-quote blockquote::after {
  content: "“";
  font-family: "Inter", serif;
  position: absolute;
  font-size: 3rem;
    color: #5b5105;
}

.about-quote blockquote::before {
  top: -3rem;
  left: -3rem;
}

.about-quote blockquote::after {
  content: "”";
  bottom: -3rem;
  right: -3rem;
}

.view-all-projects{
text-align: center;
padding: 5rem 0;
}


.view-all-projects a {
  position: relative;         /* needed for ::after positioning */
  text-decoration: none;      /* remove default underline */
  color: var(--text-color);
  font-weight: 500;
}

.view-all-projects a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5px;                /* underline thickness */
  width: 100%;
  background-color: var(--text-color);
  transform: scaleX(0);       /* hide initially */
  transform-origin: left;
  transition: transform 0.3s ease;
}

.view-all-projects a:hover::after {
  transform: scaleX(1);       /* animate underline on hover */
}



/* Collaborations Section */
.about-collab {
  background: #4a4204;
  text-align: center;
  padding: 6rem 2rem 8rem;
  border-top: 1px solid rgba(255,255,255,0.05);
}

.about-collab h2 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 2rem;
    color: #2A260A;
  margin-bottom: 3rem;
}

.about-collab .logo-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.about-collab .logo-grid img {
  height: 60px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.about-collab .logo-grid img:hover {
  opacity: 1;
}

/* CTA Section */
.about-cta {
  text-align: center;
  color: #2A260A;
  padding: 8rem 4rem;
}

.about-cta h2 {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}


/* About Page - Photo Gallery */

.gallery-tilt {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  padding: 5rem 4rem 10rem 4rem;
}




.gallery-item {
  position: relative;
  overflow: hidden;
  flex: 1;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
  
}



/* initial angled rotation */
.gallery-item.item-1 { transform: rotate(-5deg); }
.gallery-item.item-2 { transform: rotate(3deg); }
.gallery-item.item-3 { transform: rotate(-3deg); }

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.2s ease-out, filter 0.2s ease-out;
  transform-origin: center;
    border: 3px solid #f4f1e8; /* light cream tone, adjust to match your theme */
  border-radius: 1px;        /* keeps same rounded corners */
}

.gallery-item .gallery-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  color: #fff;
  padding: 1.5rem;
  transform: translateY(100%);
  transition: transform 0.2s ease-out;
  text-align: left;
  padding-bottom: 0;
}


.gallery-item:hover {
  transform:  rotate(3deg); 
}

.gallery-item:hover img {
  transform: scale(1.05) /*rotate(2deg)*/;
  filter: brightness(0.8);
      border: 3px solid #f4f1e8; /* light cream tone, adjust to match your theme */


}

.gallery-item:hover .gallery-info {
  transform: translateY(0);
}



.artwork-description{

text-align: right;
padding-bottom: 10rem;
}



/* ---------------------------
   Project Page Styles
---------------------------- */


.project-overview {
    padding: 8rem 4rem;
   background-color: var(--bg-color);
  color: var(--text-color);
  align-items: start;
}

.project-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.2fr;
  gap: 4rem;
  align-items:top baseline;
}



.project-grid-content {
  max-width: 1200px;
  margin-top: 0;
  margin-bottom: 8rem ;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  align-items:top baseline;

}


.project-grid-image {
  
  max-width: 1200px;
  margin-top: 0;
  margin-bottom: 0 ;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 4rem;
  align-items:flex-start;

}


.project-col h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.project-col p {
  margin: 0.3rem 0;
  
}

.project-details strong {
  font-weight: 600;
}

.tags {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tags span {
  border: 1px solid #8a8a76;
  border-radius: 20px;
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  color: #8a8a76;
}



.img-wrapper {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem ;    
  max-width: 100%; /* ensures it spans the container width */
  
}

.full-width-image {
  width: 100%;
  max-width: 100%;

}

.full-width-image img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10rem ;
}

.full-width-image-noBottomGap img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 5rem ;
}

/* Project Video Section = About Video */

.project-link {
  color: #2A260A;
  text-decoration:underline;
  transition: text-decoration 0.2s ease, opacity 0.2s ease;

}
.project-link:hover {
  text-decoration: underline;
  opacity: 0.9;
}


/* Project Demo Video */


.demo-video {
  border-radius: 8px;
  display: flex;
  margin: 0 auto 10rem auto;
  width: 100%;
}


/* ==== MORE PROJECTS GALLERY ==== */
.more-projects {
  padding: 80px 0;
  text-align: center;
background-color: var(--expertise-bg);

}




.more-projects h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
  color:#FFFFFF;
padding-bottom: 0;
margin-top: 0;
padding-top: 0;
  padding-bottom: 5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.more-projects h2{

  color:#FFFFFF;

  
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;
}

.project-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.project-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.project-thumb:hover img {
  transform: scale(1.05);
  filter: brightness(1.2);
}



/*Contact page */



.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
   background-color: var(--contact-bg);
  color: var(--contact-text);
}

.contact-container {
  max-width: 700px;
  width: 100%;
  text-align: center;
}

.contact-container h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.contact-container p {
  font-size: 1rem;
  color: var(--contact-text);
  margin-bottom: 40px;
}

.contact-box {
   background: var(--contact-box-bg);
  border: 1px solid var(--contact-box-border);
  border-radius: 16px;
  padding: 30px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--label-text);
  font-size: 0.95rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
   background-color: var(--contact-input-bg);
  color: var(--contact-input-text);
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  background-color: var(--contact-input-focus-bg);
  outline: none;
}

.btn-contact {
  background-color: #d8ddd7;
  color: #2A260A;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-contact:hover {
  /* background-color: #afb3ac;*/

  background-color: #afb3ac; /* slightly darker */
   transform: translateY(-1px);
   animation-delay: 0.1ms;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  color: #000;

}






/* ===============================
   📱 RESPONSIVE DESIGN (≤1024px)
   =============================== */
@media (max-width: 1024px) {

  /* Navbar */
  .navbar {
    padding: 0.8rem 2rem;
    align-items: center;
  }

  .logo {
    white-space: nowrap;
    font-size: 1.05rem;
    line-height: 1;
  }

  .navbar ul {
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .navbar a {
    font-size: 0.96rem;
  }

  /* Hero */
  .hero {
    background-position: center;
    background-size: cover;
    min-height: 80vh;
  }

    h1,
  .hero-content h1 {
    font-size: 4rem; /* 64px */
  }
 

  /* Storytelling */
  .storytelling .project {
    flex-direction: column;
    align-items: center;
  }

  .storytelling img {
    width: 90%;
    height: auto;
    margin-bottom: 0;
  }

  /* My Story */
  .my-story {
    padding: 4rem 2rem;
  }

  .my-story h2 {
    font-size: 2rem;
  }

  .my-story p {
    font-size: 1rem;
    line-height: 1.6;
  }

  /* Logos */
  .logos img {
    width: 100px;
    margin: 1rem;
  }

  /* CTA */
  .cta {
    padding: 4rem 2rem;
  }
}

/* ===============================
   📱 RESPONSIVE DESIGN (≤900px)
   =============================== */
@media (max-width: 900px) {

  /* About Section */
  .about-intro .container {
    flex-direction: column;
    width: 100%;
  }

  .about-intro .portrait {
    margin-top: 2rem;
  }

  .about-intro .intro-text {
    text-align: left;
  }

  .about-story .container {
    flex-direction: column !important;
    text-align: left;
  }

  .about-quote blockquote {
    font-size: 1.4rem;
  }

.about-quote blockquote::before,
.about-quote blockquote::after {

  font-size: 3rem;

}

.artwork-description{

      font-size: 0.8rem;

}


  /* Project Overview Page */
  .project-overview .project-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
  }

  .project-overview .project-col {
    width: 100%;
  }

  .project-overview .project-title h2 {
    font-size: 1.8rem;
  }

  .project-overview .project-details p,
  .project-overview .project-description p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .project-overview .tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .project-overview .tags span {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0.4rem 0.9rem;
    font-size: 0.9rem;
  }


    /* brand logos */
  .brand-track img {
    height: 28px;
    margin: 0 1.5rem;
  }


  .cta a.button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  /* Project Grid Fix */
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }


    /* About Page: Service Section */

  .expertise-container {
    grid-template-columns: 1fr;
    text-align: left;
  }
  .expertise-column {
    min-height: auto;
  }
  .expertise-icon {
    margin-top: 2rem;
  }




  /* About Page: Expertise Section*/

  .services-container {
    flex-direction: column;
    align-items: flex-start;

  }

  .service-titles {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
  }

  .service-titles button {
    width: 100%;
    max-width: 350px;
    text-align: left;
    justify-content:flex-start;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }

  .service-description {
    padding-right: 0;
    width: 100%;
    text-align: left;

  }

  .service-text {
    font-size: 1rem;
    text-align: left;
    margin: 0;
    width: 100%;
  }


}



/* ===============================
   📱 RESPONSIVE DESIGN (≤768px)
   =============================== */
@media (max-width: 768px) {

  /* Navbar */
  .navbar {
    
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  .logo {
    font-size: 2rem;
    text-align: center;
  font-weight: 800;
      scale: 1.5 !important;

  }



  .navbar ul {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

  }

  .mode-toggle {
 
  width: auto;
  height: auto;
      padding: 12px; /* keeps circular breathing room */
      box-shadow: none;
}

  .mode-toggle:hover {
  transform: none;
}
  .mode-toggle:active {
  transform: none;
}

  /* General Section */
  section {
    padding: 2rem 1rem;
  }

  /* Hero */
  .hero {
    /*min-height: 70vh;*/
        height: calc(var(--vh, 1vh) * 90);
    background-attachment: scroll;
    padding-bottom: 0;
  }

  h1,
  .hero-content h1 {
    font-size: 2.4rem; /* ~38px */
    letter-spacing: -0.01em;
     padding-top: 3rem; 
  }

 

  /* Storytelling - disable horizontal scroll */
  .storytelling {
    height: auto !important;
    overflow: visible;
    padding: 1rem;
    align-items: center;
  }

  .scroll-container {
    padding-top: 0;
    position: static !important;
    height: auto !important;

  }


  .video-overlay-text{
display:none;
  }
  .project-track,
  .project {
    display: block !important;
    transform: none !important;
    width: 100%;
    margin: 2rem auto;
    padding: 0 auto;
  }

 /* tagline-scroll  */

  .tagline-scroll {
  padding:0;
  margin: 0;
}

.scroll-content span {
  font-weight: 200;
  font-size: 0.8rem;
  margin: 0 0.5rem;
    letter-spacing: 1px;

}



.scroll-content span::after {
  margin-left: 1rem;
}



 /* cta  */

.cta{

  padding: 5rem 1rem; 
}

.cta h2 {
  font-size: 2rem;

}



  /* FOOTER */
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 30px 20px 0 20px;
    gap: 20px;
  }

  .footer-col {
    width: 100%;
    justify-self: center;
  }

  /* logo smaller and centered */
  .footer-logo{
    
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
        padding-bottom: 6px;

  }

  /* Make email & copy button sit next to each other and wrap nicely */
  .footer-email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 1rem;
    margin: 4px 0 0;
  }

  .copy-btn {
    margin-left: 0;    /* button already sits in the flex row */
  }

  /* Navigation links show inline and wrap if needed */
  .footer-col a {
    display: inline-block;
    color: #b0e3d3;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 12px;
    padding: 4px 0;
    transition: color 0.3s;
  }

  /* Ensure the middle nav group centers */
  .footer-content > .footer-col:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  /* Social area: icons in a single centered row */
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 18px;
    width: 100%;
  }

  .social-icons a {
    font-size: 1.35rem;
  }

  /* Copyright centered under icons */
  .footer-copy {
    text-align: center;
    margin-top: 6px;
    font-size: 0.85rem;

  }
.copy-btn{
  display: none;
}



  /* Disable cursor/audio effects */
  .custom-cursor,
  .cursor-dot,
  .sound-toggle,
  audio,
  .sound-effect,
  #sound-intro {
    display: none !important;
  }

  * {
    cursor: auto !important;
  }

  /* More Projects */
  .projects-grid {
    grid-template-columns: 1fr;
    margin: 1rem ;
  }

  /* Logos */
  .logo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 90%;
    align-items: center;
  }

  .logo-grid img {
    width: 70px;
    height: auto;
    opacity: 0.85;
  }


  /* About Page */
.about-intro{
   margin-top: 6rem;  
   padding: 2rem 1rem;  
}



.about-intro h1 {
  font-size:2rem;

}

.portrait{
  margin: 0;
}

.about-video{
  margin-bottom: 1rem;
  margin-top: 0;
}

.about-intro .container {
  display: flex;
  flex-direction: column; /* stack items vertically */
  gap: auto 0;
  margin:  0;
}

.about-story {
  padding: 2rem 1rem;
  border-top: 1px;
}

.service-icon{

   width: 40px;    /* or whatever size you want */
  height: auto;   /* preserves aspect ratio */
  display: block; /* removes small gaps under image */

}


.expertise-section {
  padding: 5rem 1rem ;
}

.services-section{
  padding: 0 1rem 5rem 1rem;
}

.gallery-tilt {
  padding: 0 2rem 5rem 2rem;
}

.artwork-description{
  padding: 0 1rem 5rem 1rem;
}


.service-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* keeps proportions */
}

.double-diamond{
  width:100%;
  height: auto;
}


.about-quote blockquote {
  font-size: 1.2rem;
  line-height: auto;
  margin: 0;
  padding:0;
  position: relative;
  text-align: left;
}

.about-quote{
padding: 0 1rem;
}
.about-quote blockquote::before {
  top: -4rem;
  left: 0;
}

.about-quote blockquote::after {
  content: "”";
  bottom: -2rem;
  right: 0;
}


.brand-scroll{
  display: none;
}



.logo-grid img {
  height: 50px;
  width: 50px;
  gap: 0;
align-items: center;

}

.spacer{
  display: none;
}


.gallery-tilt {
  display: flex;
    flex-direction: column; /* stack items vertically */
    margin:1rem;
    padding-top: 0;

}




    /* project Page */
.project-overview{
  margin-top: 10rem;
    padding: 0 2rem 1rem 2rem;

}
.project-grid{
  margin-bottom: 2rem;
}

.project img {
  width: 100%;
  object-fit: cover;
 
}


.project-grid-content{
    display: flex;
    flex-direction: column; /* stack items vertically */
    gap:0;
    text-align: left;
    margin: 0;
}

.project-grid-image{
    display: flex;
    flex-direction: column; /* stack items vertically */
    gap: 0;
}

.full-width-image img {
  margin-bottom : 2rem  ;
}

.demo-video {
  border-radius: 8px;
  display: flex;
  margin: 0 auto ;
  width: 100%;
}

.more-projects{
  padding: 1rem 2rem;
}

.more-projects h3{
font-size: 1.5rem;
padding-top: 3rem;
padding-bottom: 0;
}


.project-card{
  padding-top: 0;
}


    /* Work Page */

    .work{

  margin-top: 2rem;
  padding:2rem 1rem;

    }



.project-grid-filter {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr; 
}

.project-card{
padding: 1rem 0;
}

.filter-menu {
  display: none; /* filter doesn't show on mobile */
}

.contact{

  margin-top: 4rem;
  padding:2rem 1rem;

}




}

/* ===============================
   📱 RESPONSIVE DESIGN (≤600px)
   =============================== */
@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .contact-container h1 {
    font-size: 1.8rem;
  }
}


